.container {
  padding: 50px 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  /* background-color: rgb(238, 252, 255); */
  min-height: 20vh;
  /* margin-top: 50px; */

}

.heading {
  margin: 0 auto;
  max-width: 90%;
  color: #000;
  font-size: 6rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #239ce2, #1369b9);
  -webkit-background-clip: text;

  color: transparent;
}

.right img {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  display: flex;
    gap: 20px;
    text-align: end;
    justify-content: end;
    width: 100%;
  }

  .heading {
    font-size: 3rem;
    line-height: 2.1rem;
 
  }
}
  